# RecSys Twitter - Final Project

### Authors: Quimi, Ricard, Pere

-------------------------------------------------------------------------------------------------------------------------------


This project will be the result...

El projecte està divit en les següents parts:
    - asdkoam
    - askldmaskd
    - asdklmasd
    - ...

1.Obtenció del dataset

2.Partició de variables en les tres seccions

3.Explicació de les variables

-------------------------------------------------------------------------------------------------------------------------------

### Data Import

asdasdsadkoa sdoas ....

In [111]:
# Import needed packages
import os
import pandas as pd
import matplotlib

In [112]:
# set path
#libname = 'C:/Users/usuario/Documents/Data Science/Postgrau-master/Final Project'

# load data
df = pd.read_csv('twitter_subset1M.csv')

# Visualize some data
df.head()

,Unnamed: 0,text_ tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,...,engaging_user_id,engaging_user_follower_count,engaging_user_following_count,engaging_user_is_verified,engaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,0,101\t16493\t12478\t117\t10105\t42370\t76299\t1...,NaN,39024FBE0136E046D1357196BAECFCA6,GIF,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581532200,...,000006829BEADA9EEA695CF0C334B426,2,29,False,1568107028,False,NaN,NaN,NaN,NaN
1,1,101\t56898\t137\t12026\t10216\t39639\t10161\t1...,NaN,885EECCFE319306E00FFFFAC9016DCAC,NaN,NaN,NaN,Retweet,06D61DCBBE938971E1EA0C38BD9B5446,1581460521,...,00003E6CE47A2F6992901FA83F253C68,1148,1038,False,1266187322,False,NaN,NaN,NaN,NaN
2,2,101\t14924\t16118\t10114\t12888\t15127\t31204\...,3653868A966576CF17D6A9064889BCED\t7A6710E791A1...,AB3ADBBD011F88D10FE7F6C5FDAB214C,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581087590,...,000269A50293CC2B1E9C72B287FA624E,515,424,False,1254588643,True,NaN,NaN,NaN,1.581090e+09
3,3,101\t138\t19826\t10108\t10105\t10635\t10105\t1...,NaN,675D7920EA2FB4869BA767F5122FB115,NaN,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581134845,...,0004C10C480EF88F3EED5822149DC93F,4,125,False,1547955941,False,NaN,NaN,NaN,1.581135e+09
4,4,101\t73714\t117\t11858\t10730\t12603\t11387\t4...,NaN,9D81B887F9DCA4C481762720A980F372,NaN,NaN,NaN,Quote,2996EB2FE8162C076D070A4C8D6532CD,1581384474,...,0007B114B09D17838F76C88A51374017,34,172,False,1561164616,False,NaN,NaN,NaN,NaN

-------------------------------------------------------------------------------------------------------------------------------

In [113]:
df.reply_timestamp

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
26                 NaN
27                 NaN
28                 NaN
29                 NaN
              ...
455488             NaN
455489             NaN
455490             NaN
455491             NaN
455492             NaN
455493             NaN
455494             NaN
455495    1.581395e+09
455496             NaN
455497             NaN
455498             NaN
455499             NaN
455500             NaN
455501             NaN
455502             NaN
455503             NaN
455504             NaN
455505             NaN
455506             NaN
455507             NaN
455508             NaN
455509             NaN
455510             NaN
455511             NaN
455512             NaN
455513             NaN
455514             NaN
455515             NaN
455516             NaN
455517             NaN
Name: reply_timestamp, Length: 455518, dtype: float64

### Data Preparation

asdadsadasdaskldmasklda....

In [114]:
# Rename 'text_tokens' column name
df.rename(columns={'text_ tokens':'text_tokens'}, inplace=True)

# Select tweets in English
df = df[df.language=='D3164C7FBCF2565DDF915B1B3AEFB1DC']

# Clean tokens and transform into lists
df['text_tokens'] = df['text_tokens'].str.split('\t')

# Remove first column
df.drop('Unnamed: 0', axis=1, inplace=True)

# Remove id variables
df.drop(['tweet_id', 'engaged_with_user_id', 'engaging_user_id'], axis=1, inplace=True)

# Add variable 'engagement_timestamp' and remove timestamp columns
df['engagement_timestamp'] = df[['reply_timestamp','retweet_with_comment_timestamp','like_timestamp']].min(axis=1)
df.drop(['reply_timestamp', 'retweet_timestamp', 'retweet_with_comment_timestamp', 'like_timestamp'], axis=1, inplace=True)

# Add variable 'engagement_exists'
df['engagement_exists'] = df['engagement_timestamp'].apply(lambda x: 0 if (np.isnan(x)) else 1)

# Remove unused variables
df.drop(['present_domains', 'language'], axis=1, inplace=True)

# Upload index
df.reset_index(drop=True, inplace=True)

In [115]:
df.engagement_exists.value_counts()

0    105010
1     85791
Name: engagement_exists, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------

### Data Preprocessing

asdasdasas.....

In [116]:
# Transform variable 'hashtags' to boolean one-hot encoded
df['present_hashtags'] = df['hashtags'].apply(lambda x: 1 if not pd.isnull(x) else 0)
df.drop('hashtags', axis=1, inplace=True)

# Transform variable 'present_links' to boolean one-hot encoded
df['present_links'] = df['present_links'].apply(lambda x: 1 if not pd.isnull(x) else 0)

# Transform variable 'present_media' into 3 new variables one-hot encoded
def hot_encod_photo(x):
    try:
        return x.count('Photo')
    except AttributeError:
        return 0
def hot_encod_video(x):
    try:
        return x.count('Video')
    except AttributeError:
        return 0
def hot_encod_gif(x):
    try:
        return x.count('GIF')
    except AttributeError:
        return 0
    
df['present_photo'] = df['present_media'].apply(hot_encod_photo)
df['present_video'] = df['present_media'].apply(hot_encod_video)
df['present_gif'] = df['present_media'].apply(hot_encod_gif)

df.drop(['present_media'], axis=1, inplace=True)

# Transform boolean variables to one-hot encoded
df["engaged_with_user_is_verified"] = df["engaged_with_user_is_verified"].astype(int)
df["engaging_user_is_verified"] = df["engaging_user_is_verified"].astype(int)
df["engagee_follows_engager"] = df["engagee_follows_engager"].astype(int)

# Transform timestamp variables to readable dates
df['tweet_timestamp'] = pd.to_datetime(df['tweet_timestamp'], unit='s')
df['engagement_timestamp'] = pd.to_datetime(df['engagement_timestamp'], unit='s')
df['engaged_with_user_account_creation'] = pd.to_datetime(df['engaged_with_user_account_creation'], unit='s')
df['engaging_user_account_creation'] = pd.to_datetime(df['engaging_user_account_creation'], unit='s')

# Transform 'tweet_type' variable to one-hot encoded
dummies_tweet_type = pd.get_dummies(df['tweet_type'])
df = pd.concat([df, dummies_tweet_type], axis=1)
df.drop(['tweet_type'], axis=1, inplace=True)

# Create new variable 'reaction_time'
df['reaction_time'] = df['engagement_timestamp'] - df['tweet_timestamp']
df['reaction_time'] = df['reaction_time'].dt.total_seconds()

# Create new variable 'time_of_day'
tweet_hour = df.tweet_timestamp.dt.hour
bin = [0,8,16,24] 
category = pd.cut(tweet_hour, bin, include_lowest=True, labels=['morning','afternoon','evening'])
df = pd.concat([df, pd.get_dummies(category)], axis=1)

# Create new variable 'day_of_week'
tweet_day = df.tweet_timestamp.dt.weekday
df_tweet_day = pd.get_dummies(tweet_day)
df_tweet_day.rename({0:'monday',1:'tuesday',2:'wednesday', 3:'thursday', 4:'friday', 5:'saturday', 6:'sunday'}, axis='columns', inplace=True)
df = pd.concat([df, df_tweet_day], axis=1)

# Remove variable 'tweet_timestamp'
df.drop(['tweet_timestamp'], axis=1, inplace=True)
df.drop(['engagement_timestamp'], axis=1, inplace=True)

# Create new variable 'engaged_with_user_account_days'
from datetime import date
user_days = (pd.Timestamp.now() - df.engaged_with_user_account_creation).dt.days
user_days.name = 'engaged_with_user_account_days'
df = pd.concat([df, pd.Series(user_days)], axis=1)
df.drop(['engaged_with_user_account_creation'], axis=1, inplace=True)

# Create new variable 'engaging_user_account_days'
from datetime import date
user_days = (pd.Timestamp.now() - df.engaging_user_account_creation).dt.days
user_days.name = 'engaging_user_account_days'
df = pd.concat([df, pd.Series(user_days)], axis=1)
df.drop(['engaging_user_account_creation'], axis=1, inplace=True)

# Create new variable 'engaged_with_user_popular'
import numpy as np

ratio_follows = df.engaged_with_user_following_count/df.engaged_with_user_follower_count

ratio_popular = ratio_follows <= np.percentile(ratio_follows, 25)
follower_popular = df.engaged_with_user_follower_count >= df.engaged_with_user_follower_count.median()

engaged_with_user_popular = pd.Series(ratio_popular & follower_popular, name = 'engaged_with_user_popular').astype(int)
df = pd.concat([df, engaged_with_user_popular], axis=1)

-------------------------------------------------------------------------------------------------------------------------------

### Data Analysis

In [62]:
numeric_cols = ['engaged_with_user_follower_count','engaged_with_user_following_count','engaging_user_follower_count',
                'engaging_user_following_count']
boolean_cols = ['present_links','engaged_with_user_is_verified','engaging_user_is_verified','engagee_follows_engager',
                'present_hashtags','present_photo','present_video','present_gif','Quote','Retweet','TopLevel']
time_cols = ['tweet_timestamp','engaged_with_user_account_creation','engaging_user_account_creation',
            'engagement_timestamp','reaction_time']
text_cols = ['text_tokens']

#### Numeric  variables

In [63]:
[print(round(df[col].describe(),0), '\n------------------------------------') for col in numeric_cols]

count       190801.0
mean       2517668.0
std        9887992.0
min              1.0
25%           1962.0
50%          30636.0
75%         456428.0
max      112787050.0
Name: engaged_with_user_follower_count, dtype: float64
------------------------------------
count     190801.0
mean        6619.0
std        47512.0
min            0.0
25%          275.0
50%          693.0
75%         1839.0
max      4447036.0
Name: engaged_with_user_following_count, dtype: float64
------------------------------------
count     190801.0
mean        1023.0
std        25440.0
min            0.0
25%           45.0
50%          169.0
75%          497.0
max      5189088.0
Name: engaging_user_follower_count, dtype: float64
------------------------------------
count    190801.0
mean        684.0
std        2082.0
min           1.0
25%         145.0
50%         315.0
75%         671.0
max      372575.0
Name: engaging_user_following_count, dtype: float64
------------------------------------

[None, None, None, None]

#### Boolean variables

In [64]:
[print(round(df[col].value_counts(normalize=True),2), '\n------------------------------------') for col in boolean_cols]

0    0.85
1    0.15
Name: present_links, dtype: float64
------------------------------------
0    0.63
1    0.37
Name: engaged_with_user_is_verified, dtype: float64
------------------------------------
0    1.0
1    0.0
Name: engaging_user_is_verified, dtype: float64
------------------------------------
0    0.69
1    0.31
Name: engagee_follows_engager, dtype: float64
------------------------------------
0    0.81
1    0.19
Name: present_hashtags, dtype: float64
------------------------------------
0    0.78
1    0.16
2    0.04
4    0.02
3    0.01
Name: present_photo, dtype: float64
------------------------------------
0    0.88
1    0.12
Name: present_video, dtype: float64
------------------------------------
0    0.99
1    0.01
Name: present_gif, dtype: float64
------------------------------------
0    0.9
1    0.1
Name: Quote, dtype: float64
------------------------------------
0    0.62
1    0.38
Name: Retweet, dtype: float64
------------------------------------
1    0.52
0    0.48
Name: TopLevel, dtype: float64
------------------------------------

[None, None, None, None, None, None, None, None, None, None, None]

-------------------------------------------------------------------------------------------------------------------------------

### Model XGBoost

In [119]:
!{sys.executable} -m pip install xgboost

"{sys.executable}" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [120]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

data_prova = df.drop(['text_tokens'], axis=1)

ModuleNotFoundError: No module named 'xgboost'