# RecSys Twitter - Final Project

### Authors: Quimi, Ricard, Pere

-------------------------------------------------------------------------------------------------------------------------------


This project will be the result...

El projecte està divit en les següents parts:
    - asdkoam
    - askldmaskd
    - asdklmasd
    - ...

1.Obtenció del dataset

2.Partició de variables en les tres seccions

3.Explicació de les variables

-------------------------------------------------------------------------------------------------------------------------------

### Data Import

asdasdsadkoa sdoas ....

In [2]:
# Import needed packages
import os
import pandas as pd
import matplotlib

In [3]:
# set path
#libname = 'C:/Users/usuario/Documents/Data Science/Postgrau-master/Final Project'

# load data
df = pd.read_csv('twitter_subset1M.csv')

# Visualize some data
df.head()

,Unnamed: 0,text_ tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,...,engaging_user_id,engaging_user_follower_count,engaging_user_following_count,engaging_user_is_verified,engaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,0,101\t16493\t12478\t117\t10105\t42370\t76299\t1...,NaN,39024FBE0136E046D1357196BAECFCA6,GIF,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581532200,...,000006829BEADA9EEA695CF0C334B426,2,29,False,1568107028,False,NaN,NaN,NaN,NaN
1,1,101\t56898\t137\t12026\t10216\t39639\t10161\t1...,NaN,885EECCFE319306E00FFFFAC9016DCAC,NaN,NaN,NaN,Retweet,06D61DCBBE938971E1EA0C38BD9B5446,1581460521,...,00003E6CE47A2F6992901FA83F253C68,1148,1038,False,1266187322,False,NaN,NaN,NaN,NaN
2,2,101\t14924\t16118\t10114\t12888\t15127\t31204\...,3653868A966576CF17D6A9064889BCED\t7A6710E791A1...,AB3ADBBD011F88D10FE7F6C5FDAB214C,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581087590,...,000269A50293CC2B1E9C72B287FA624E,515,424,False,1254588643,True,NaN,NaN,NaN,1.581090e+09
3,3,101\t138\t19826\t10108\t10105\t10635\t10105\t1...,NaN,675D7920EA2FB4869BA767F5122FB115,NaN,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581134845,...,0004C10C480EF88F3EED5822149DC93F,4,125,False,1547955941,False,NaN,NaN,NaN,1.581135e+09
4,4,101\t73714\t117\t11858\t10730\t12603\t11387\t4...,NaN,9D81B887F9DCA4C481762720A980F372,NaN,NaN,NaN,Quote,2996EB2FE8162C076D070A4C8D6532CD,1581384474,...,0007B114B09D17838F76C88A51374017,34,172,False,1561164616,False,NaN,NaN,NaN,NaN

-------------------------------------------------------------------------------------------------------------------------------

### Data Preparation

asdadsadasdaskldmasklda....

In [4]:
# Rename 'text_tokens' column name
df.rename(columns={'text_ tokens':'text_tokens'}, inplace=True)

# Select tweets in English
df = df[df.language=='D3164C7FBCF2565DDF915B1B3AEFB1DC']

# Clean tokens and transform into lists
df['text_tokens'] = df['text_tokens'].str.split('\t')

# Remove first column
df.drop('Unnamed: 0', axis=1, inplace=True)

# Remove id variables
df.drop(['tweet_id', 'engaged_with_user_id', 'engaging_user_id'], axis=1, inplace=True)

# Add engagement timestamp and remove timestamp columns
df['engagement_timestamp'] = df[['reply_timestamp','retweet_with_comment_timestamp','like_timestamp']].min(axis=1)
df.drop(['reply_timestamp', 'retweet_timestamp', 'retweet_with_comment_timestamp', 'like_timestamp'], axis=1, inplace=True)

# Remove unused variables
df.drop(['present_domains', 'language'], axis=1, inplace=True)

# Upload index
df.reset_index(drop=True, inplace=True)

-------------------------------------------------------------------------------------------------------------------------------

### Data Preprocessing

asdasdasas.....

In [5]:
# Transform variable 'hashtags' to boolean one-hot encoded
df['present_hashtags'] = df['hashtags'].apply(lambda x: 1 if not pd.isnull(x) else 0)
df.drop('hashtags', axis=1, inplace=True)

# Transform variable 'present_links' to boolean one-hot encoded
df['present_links'] = df['present_links'].apply(lambda x: 1 if not pd.isnull(x) else 0)

# Transform variable 'present_media' into 3 new variables one-hot encoded
def hot_encod_photo(x):
    try:
        return x.count('Photo')
    except AttributeError:
        return 0
def hot_encod_video(x):
    try:
        return x.count('Video')
    except AttributeError:
        return 0
def hot_encod_gif(x):
    try:
        return x.count('GIF')
    except AttributeError:
        return 0
    
df['present_photo'] = df['present_media'].apply(hot_encod_photo)
df['present_video'] = df['present_media'].apply(hot_encod_video)
df['present_gif'] = df['present_media'].apply(hot_encod_gif)

df.drop(['present_media'], axis=1, inplace=True)

# Transform boolean variables to one-hot encoded
df["engaged_with_user_is_verified"] = df["engaged_with_user_is_verified"].astype(int)
df["engaging_user_is_verified"] = df["engaging_user_is_verified"].astype(int)
df["engagee_follows_engager"] = df["engagee_follows_engager"].astype(int)

# Transform timestamp variables to readable dates
df['tweet_timestamp'] = pd.to_datetime(df['tweet_timestamp'], unit='s')
df['engagement_timestamp'] = pd.to_datetime(df['engagement_timestamp'], unit='s')
df['engaged_with_user_account_creation'] = pd.to_datetime(df['engaged_with_user_account_creation'], unit='s')
df['engaging_user_account_creation'] = pd.to_datetime(df['engaging_user_account_creation'], unit='s')

# Transform 'tweet_type' variable to one-hot encoded
dummies_tweet_type = pd.get_dummies(df['tweet_type'])
df = pd.concat([df, dummies_tweet_type], axis=1)
df.drop(['tweet_type'], axis=1, inplace=True)

# Create new variable 'reaction_time'
df['reaction_time'] = df['engagement_timestamp'] - df['tweet_timestamp']

In [6]:
df.head()

,text_tokens,present_links,tweet_timestamp,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_follower_count,engaging_user_following_count,engaging_user_is_verified,...,engagee_follows_engager,engagement_timestamp,present_hashtags,present_photo,present_video,present_gif,Quote,Retweet,TopLevel,reaction_time
0,"[101, 16493, 12478, 117, 10105, 42370, 76299, ...",0,2020-02-12 18:30:00,1344732,125,1,2018-09-18 01:15:59,2,29,0,...,0,NaT,0,0,0,1,0,0,1,NaT
1,"[101, 14924, 16118, 10114, 12888, 15127, 31204...",0,2020-02-07 14:59:50,298,1296,0,2009-05-28 19:10:09,515,424,0,...,1,2020-02-07 15:40:09,1,1,0,0,0,0,1,00:40:19
2,"[101, 138, 19826, 10108, 10105, 10635, 10105, ...",0,2020-02-08 04:07:25,1215914,7054,1,2013-11-16 21:31:03,4,125,0,...,0,2020-02-08 04:11:37,0,0,0,0,0,0,1,00:04:12
3,"[101, 56898, 137, 42374, 36630, 10797, 90861, ...",0,2020-02-06 17:51:57,35765,22045,0,2015-08-15 00:37:19,33439,35598,0,...,1,NaT,0,0,0,0,0,1,0,NaT
4,"[101, 137, 87043, 10679, 11369, 11211, 22650, ...",0,2020-02-07 01:09:42,23335,9210,0,2016-12-15 06:33:22,27980,25991,0,...,1,2020-02-07 06:50:59,1,0,0,0,0,0,1,05:41:17

-------------------------------------------------------------------------------------------------------------------------------

### Data Analysis