Obrir tocho

In [1]:
#Let's import everything!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
training = pd.read_csv('tocho.csv', index_col = 0)

In [4]:
#update dataset
with open('deleted_user_IDs.txt') as f:
    deleted_user_ID = f.read().splitlines()
with open('deleted_tweet_IDs.txt') as f:
    deleted_tweet_ID = f.read().splitlines()

In [20]:
training.head(5)

,text_ tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,...,engaging_user_id,engaging_user_follower_count,engaging_user_following_count,engaging_user_is_verified,engaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,"[101, 16493, 12478, 117, 10105, 42370, 76299, ...",NaN,39024FBE0136E046D1357196BAECFCA6,GIF,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581532200,3BF0702AA3337E076DA5DF54E55117D1,...,000006829BEADA9EEA695CF0C334B426,2,29,False,1568107028,False,NaN,NaN,NaN,NaN
1,"[101, 11420, 10173, 45283, 10133, 40960, 10835...",NaN,6F4B64CF616A1B65C94B9581AB3617E5,NaN,NaN,NaN,TopLevel,ECED8A16BE2A5E8871FD55F4842F16B1,1581134453,4C86333F8DC95B0D3C716C46A7862CCC,...,00046D54CBEE1354F395930AB602C6EF,87,100,False,1500643248,False,NaN,NaN,NaN,1.581158e+09
2,"[101, 10105, 76456, 22201, 119, 119, 119, 119,...",NaN,6DD591ABD65945B412C062DE26C55CAC,NaN,NaN,NaN,Quote,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581340818,304AD9FCC24B58A12FC7843F8DFE804E,...,000AF284D93A0EBDD1BE0D4701F581FC,583,1071,False,1465415499,True,NaN,NaN,NaN,1.581345e+09
3,"[101, 49307, 11090, 49339, 11369, 14703, 11001...",B929FC51754F08E9CF07498FF4DFC1DC,25BFBE285D27B2144C6B169C11083FAB,Photo,NaN,NaN,TopLevel,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581332785,AF003AF390475BFCB3D3618FE55F950E,...,001C14131FC5556F3CB6555FF04F0AB1,272,1874,False,1425137677,False,NaN,NaN,NaN,1.581344e+09
4,"[101, 52212, 18010, 10120, 15122, 10325, 40323...",NaN,27A0AC9D2924771C97F7082EE951C1B1,Photo,NaN,NaN,TopLevel,717293301FE296B0B61950D041485825,1581108476,1699A4DEBFEAB17CC8F748C13F889C35,...,001DD4110BC58DBDC235D0B7A5B25ACE,1272,1243,False,1305546726,False,NaN,NaN,NaN,1.581109e+09

In [22]:
training['text_ tokens'] = training['text_ tokens'].str.split('\t')
training['number_tokens'] = training['text_ tokens'].len()

AttributeError: 'Series' object has no attribute 'len'

In [15]:
training['present_media'].value_counts(dropna=False)

NaN                           282152
Photo                          84066
Video                          49280
Photo\tPhoto                   18475
Photo\tPhoto\tPhoto\tPhoto     10528
Photo\tPhoto\tPhoto             5834
GIF                             4947
Video\tVideo                       3
Photo\tVideo                       1
Video\tVideo\tVideo\tVideo         1
Name: present_media, dtype: int64

In [16]:
training['present_links'].value_counts(dropna=False)

NaN                                 391258
E522B6C629B01DA6B29DE65BF5DFA55B       126
DEA673FD63DDDC8A3606106D5CA235B0        50
6DDBD9DAAA2AE38B8EBB54BA8E7098DD        44
79F5D3D2AECF3DE531946BABEF8BD0E7        44
                                     ...
4866A11D8B331325C42513BF282ACFFF         1
888D0D16A33548DCA0CE7D68FD2A7775         1
B24EFA10EB5FF0A9582747997A404402         1
F4374E93B0E53927F9703C24D80EAEC8         1
1C2A12D49A5A0F80EF67BC1B4D361DA3         1
Name: present_links, Length: 55426, dtype: int64

In [18]:
training['tweet_type'].value_counts(dropna=False)

TopLevel    261283
Retweet     154015
Quote        39989
Name: tweet_type, dtype: int64

In [19]:
training['engaging_user_is_verified'].value_counts(dropna=False)

False    454290
True        997
Name: engaging_user_is_verified, dtype: int64

In [21]:
training['engaged_with_user_is_verified'].value_counts(dropna=False)

False    335461
True     119826
Name: engaged_with_user_is_verified, dtype: int64

In [21]:
training['hashtags'].value_counts(dropna=False)

NaN                                                                                                                                       363830
5671B8B6E92C2A316C05A7CD2F17366C                                                                                                             974
18F6AC96A6EA62716A47DE9FE6241534                                                                                                             518
31C316EB7BB8CD1778CB83B8AA2603D9                                                                                                             275
B6024D6F02AFAF9BC8ED941F72C228F1                                                                                                             262
                                                                                                                                           ...
CDBF319AA756B5BA5522C11A8BB91F73\t4B1846E68EF9C1D7DD986643BB23BB88\tAAD60CDB6824E92A269ECCEFDB5E77BA\tA058835F5FAF6FF3875D98D8498C2779         1
EB7593023C21CDF0BF88DB255FEF52FA\t819E1769EA8E98810724CFC286B73E4C\t1E5D98FD9E42D67E758007DEA026BC78                                           1
6BBCD8DFA13A4BA35E0CBAED5EBA72F5\t481A9A8BD1010DB42DBDF506B2C957FC                                                                             1
D743D2A01FB05D84E8F394EC9FBED758\tE8B6D6FF75A26E4DB75B8D709CDAFD0D                                                                             1
8C8D24530EA7EBAFFA98D4306C60214A\tFE057EA217FE1FD704977FC31A8C5FB9                                                                             1
Name: hashtags, Length: 55830, dtype: int64